
<link rel="stylesheet" href="~/css/Index.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap" rel="stylesheet">

<header class="page-header gradient-background mt-3">
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="text-white">Do exercise using Routine App.</h1>
                <hr class="bg-white"/>
                <p class="fs-3">
                    Routine app does more than helping you to do exercise.
                </p>
            </div>
            <div class="col-md-5">
                <img src="/Images/ManTrainingAtHome.png" alt="header image" />
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</header>


<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3F3F3F" fill-opacity="1" d="M0,224L80,213.3C160,203,320,181,480,186.7C640,192,800,224,960,202.7C1120,181,1280,107,1360,69.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/WomanLifting.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Create exercises.</h1>
                <hr class="bg-white"/>
                <p class="my-4 fs-3">
                    You can create your own exercises with its own image, category and name.
                </p>
                <ul>
                    <li class="fs-5">You are able to choose multiple images from your gallery.</li>
                    <li class="fs-5">You can select the exercise category.</li>
                    <li class="fs-5">You set the exercise name.</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded">Create an exercise</button>
            </div>
        </div>
    </div>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>

<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3F3F3F" fill-opacity="1" d="M0,224L80,213.3C160,203,320,181,480,186.7C640,192,800,224,960,202.7C1120,181,1280,107,1360,69.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/WomanTrainingAtHome.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Create your routine.</h1>
                <hr class="bg-white"/>
                <p class="my-4 fs-3">
                    You can create your own routine selecting the exercises you want to include.
                </p>
                <ul>
                    <li class="fs-5"> You are able to choose the exercises you want to do.</li>
                    <li class="fs-5"> You can select which days you want to do exercise.</li>
                    <li class="fs-5"> You set the sets number per exercise.</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded">Create your routine</button>
            </div>
        </div>
    </div>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>

<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3F3F3F" fill-opacity="1" d="M0,224L80,213.3C160,203,320,181,480,186.7C640,192,800,224,960,202.7C1120,181,1280,107,1360,69.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/ManDoingShouldersPress.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Work out</h1>
                <hr class="bg-white"/>
                <p class="my-4 fs-3">
                    You can create work out with the routine app.
                </p>
                <ul>
                    <li class="fs-5">The app shows the exercise you must do according to your routine</li>
                    <li class="fs-5">The app shows how many repetitions are left until the end</li>
                    <li class="fs-5">You can write the weight you used</li>
                    <li class="fs-5">You are able to write the repetitions you did</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded">Work Out</button>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>

<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3F3F3F" fill-opacity="1" d="M0,224L80,213.3C160,203,320,181,480,186.7C640,192,800,224,960,202.7C1120,181,1280,107,1360,69.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/Statistics.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Observe your progress.</h1>
                <hr class="bg-white"/>
                <p class="my-5 fs-3">
                    You can see your progress in your exercises and your weight.
                </p>
                <ul>
                    <li class="fs-5">You can see your progress in the weight you lift</li>
                    <li class="fs-5">You can see your progress in your repetitions</li>
                    <li class="fs-5">You can see your progress in your sets</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded">See your statistics</button>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>


