@{
    Layout = "_Layout";
    var Exercises = await _routineService.GetExercisesAsync();
}

@inject RoutineApp.Services.Interfaces.IRoutineService _routineService

<div class="container">

    @{
        foreach (var exercise in Exercises)
        {
            <div class="card" style="width: 38rem;">

                @{string id = "myCarousel" + exercise.Id; }

                <div id="@id" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">

                        @{
                            for (int i = 0; i < exercise.Images.Count; i++)
                            {
                                string active = (i == 0) ? "carousel-item active" : "carousel-item";
                                string imageBase64String = Convert.ToBase64String(exercise.Images[i].Img);
                                string imageSource = string.Format("data:image/jpg;base64,{0}", imageBase64String);

                                <div class="@active">

                                    <img class="d-block w-100" src="@imageSource" />

                                </div>
                            }
                        }


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#@id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#@id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@exercise.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    }

</div>