@model DomainRoutineApp.Models.Requests.Account.ResetPasswordRequestModel

@{
    ViewData["Title"] = "ResetPassword";
    var m = Model;

}

<h1>ResetPassword</h1>

<h4>ResetPassword</h4>
<hr />

@{ 
    if(ViewBag.Errors is not null)
    {
        if(ViewBag.Errors.Count == 0)
        {
            <div class="alert alert-success">
                <h1>We have set your new password!</h1>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach(var error in ViewBag.Errors)
                    {
                        <li><h4>@error</h4></li>
                    }
                </ul>
            </div>
        }
    }
}




<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
