@model DomainRoutineApp.Models.Requests.Account.EmailResetPasswordRequestModel

@{
    ViewData["Title"] = "EmailResetPassword";
}

<h1>Reset Password</h1>

<hr />
 
@{ 
    if(ViewBag.MessageResult is not null)
    {
        <div class="alert alert-primary">
            @ViewBag.MessageResult
        </div>
    }
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="SendEmailToResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 